.contador{
margin: 10px;
}
.redes{
    margin-top: 50px;
}
.encabezado h5{
    margin-top: 2px;
}

.logo img{
    width:25px;
}
.logo h6{
    text-decoration: underline;
    font-weight: bold;
}

.imageDetail{
    padding: 1px;
    font-size:12px;
}
.imageDetail img{
    max-width: 80%;
    margin:auto
}

.seguirComprando{
    font-size:15px;
    background-color:green;
    color:beige
}
.btnFinalizar{
    font-size:15px;
    margin: 5px;
    background-color:beige;
    color:green
}

.vaciarCarrito{
    background-color:red;
    color:black
}

