.contador{
margin: 10px;
}


.imageDetail{
    padding: 1px;
    font-size:12px;
}
.imageDetail img{
    max-width: 80%;
    margin:auto
}
.btnFinalizar{
margin: 5px;
background-color:beige;
color:green
}

